.header {
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    height: 128px;
  }
}

.logo {
  z-index: 5;
}

.nav {
  display: flex;
}

.link {
}
