.section {
  padding: 50px 0;
}

.title {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.57;

  text-align: center;
  text-transform: uppercase;

  color: rgb(43, 43, 43);

  @media screen and (min-width: 1024px) {
    margin-bottom: 90px;

    font-size: 32px;
    line-height: 1.5;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;
  }
}

.list,
.subList {
  display: flex;
  flex-direction: column;
  gap: 15px;

  list-style: none;
}

.list {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #fff;

  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 1024px) {
    padding: 20px 40px 20px 20px;
  }
}

.heading {
  font-size: 12px;

  letter-spacing: 0.02em;
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.map,
.tel {
  transition: color 100ms linear;

  &:hover,
  &:focus {
    color: #bd942c;
    text-decoration: underline;
  }
}
