.aside {
  position: fixed;
  top: 0;
  left: 100%;

  width: 100vw;
  height: 100vh;

  padding: 80px 40px 120px;

  background-color: #fff;

  opacity: 0;
  transition: transform 200ms linear, opacity 350ms linear;

  @media screen and (min-width: 1024px) {
    position: static;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    height: auto;
    padding: 0;

    background: transparent;
  }
}

.linksWrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
  }
}

.list {
  display: flex;
  flex-direction: column;

  gap: 16px;
  margin-bottom: 40px;

  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: underline;

  color: rgb(43, 43, 43);
  list-style: none;

  @media screen and (min-width: 1024px) {
    flex-direction: row;

    margin-bottom: 0;
    margin-right: 40px;
    gap: 28px;

    text-decoration: none;
  }

  @media screen and (min-width: 1190px) {
    gap: 36px;
    margin-right: 50px;

    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1360px) {
    gap: 48px;
    margin-right: 80px;
  }

  @media screen and (min-width: 1536px) {
    gap: 80px;
    margin-right: 120px;
  }
}

.link {
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: rgb(34, 33, 33);
    text-decoration: underline;
  }
}

.helper {
  padding: 6px 12px;

  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8;

  color: rgb(43, 43, 43);
  background: rgb(255, 222, 0);
  box-shadow: 0px 4px 6px 0px rgba(251, 242, 9, 0.2);
  border-radius: 8px;

  transition: transform 150ms linear;

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  @media screen and (min-width: 1024px) {
  }

  @media screen and (min-width: 1100px) {
    margin-right: 30px;

    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 40px;
  }

  @media screen and (min-width: 1536px) {
    margin-right: 70px;
  }
}
